<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mysofttechnology.smartshospital">

    <application
        android:name="com.mysofttechnology.smartshospital.utils.MyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientOpdLiveConsult"></activity>
        <activity
            android:name="com.mysofttechnology.smartshospital.patient.PatientOpdDetailsList"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.mysofttechnology.smartshospital.patient.PatientIpdDetailsList"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.mysofttechnology.smartshospital.patient.PatientIpdDischargeDetailsList"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.mysofttechnology.smartshospital.patient.PatientOpdVisitDetailsList"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.mysofttechnology.smartshospital.PatientFrontAddAppoinment" />
        <activity android:name="com.mysofttechnology.smartshospital.PatientAddAppoinment" />
        <activity android:name="com.mysofttechnology.smartshospital.Login" />
        <activity android:name="com.mysofttechnology.smartshospital.ForgotPassword" />
        <activity android:name="com.mysofttechnology.smartshospital.AboutHospital" />
        <activity android:name="com.mysofttechnology.smartshospital.TakeUrl" />
        <activity android:name="com.mysofttechnology.smartshospital.OpenPdf" />
        <activity
            android:name="com.mysofttechnology.smartshospital.patient.PatientDashboard"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientAppoinmentList" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientBloodBank" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientComponentIssue" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientAmbulanceLists" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientNotification" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientIpdPatientLists" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientRadiology" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientPathology" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.NotificationList" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientTasks" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.IPDPayment" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.OPDPayment" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PathologyPayment" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PharmacyPayment" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.BloodBankPayment" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.RadiologyPayment" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.AppointmentPayment" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.AmbulancePayment" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.LiveClasses" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientLiveConsulation" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientPharmacyReport" />
        <activity android:name="com.mysofttechnology.smartshospital.patient.PatientProfile" />
        <activity android:name="com.mysofttechnology.smartshospital.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.mysofttechnology.smartshospital.utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

</manifest>